[Unit]
Description=NeterraProxy
After=network.target
After=syslog.target

[Service]
Environment='ARGUMENTS=-m neterraproxy neterra_username neterra_password data_directory'
Type=simple
ExecStart=/usr/bin/python $ARGUMENTS
User=root
Restart=on-failure
RestartSec=15
StartLimitInterval=10s
StartLimitBurst=3


[Install]
WantedBy=multi-user.target
